<h1><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200%>
<% if logged_in? && @user == current_user %>
  <%= button_to 'Edit profile', edit_user_path(@user), method: :get%>
<% end %>
<h3>Articles</h3>

<%= will_paginate @articles %>

<%= render 'articles/article' %>