<%= render 'layouts/navigation' %>
<h1>Categories listing page</h1>

<%= will_paginate @categories %>

<table>
    <thead>
        <tr>
            <th>Category name</th>
            <th>Button to</th>
            <th>Created_at</th>
            <th colspan= "3">Updated_at</th>
        </tr>
    </thead>

    <tbody>
        <% @categories.each do |category| %>

            <tr>
                <td><%= category.name %></td>
                <td>
                  <% if category.name %>
                    <%= button_to category.name, category_path(category), method: :get%>
                  <% end %>
                </td>
                <td><%= pluralize(category.articles.count, "article") %></td>
                <td>Created <%= time_ago_in_words(category.created_at) %> ago </td>
                <td>Edited <%= time_ago_in_words(category.updated_at) %> ago </td>
            </tr>
        <% end %>
    </tbody>
</table>