<%= render 'layouts/navigation' %>

<h1><%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <%= button_to 'Edit category name', edit_category_path(@category), method: :get%>
<% end %>
<h3>Articles</h3>

<%= will_paginate @articles %>

<%= render 'articles/article' %>